<div class="row">
  <div class="col-md-6">
    <nb-card class="mb-2">
      <nb-card-body>
        <div class="row cursor-pointer d-flex justify-content-between flex-wrap" routerLink="../company/view-company">
          <div class="col-md-3"> <button type="submit" nbButton status="primary" class="float-left card-button"
              >
              <nb-icon icon="shield-outline"></nb-icon>
            </button></div>
          <div class="col-md-8 ">
            <a><b>{{'DASHBOARD.COMPANY' | translate}}</b></a><br>
            <a>{{companysCount}}</a><br>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card class="mb-2">
      <nb-card-body>
        <div class="row cursor-pointer d-flex justify-content-between flex-wrap"  routerLink="../partner/view-partner">
          <div class="col-md-3"> <button type="submit" nbButton status="primary" class="float-left card-button"
             >
              <nb-icon icon="hard-drive-outline"></nb-icon>
            </button></div>
          <div class="col-md-8 ">
            <a><b>{{'DASHBOARD.PARTNERS' | translate}}</b></a><br>
            <a>{{partnersCount}}</a><br>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card class="mb-2">
      <nb-card-body>
        <div class="row cursor-pointer d-flex justify-content-between flex-wrap" routerLink="../services/view-list-services">
          <div class="col-md-3"> <button type="submit" nbButton status="primary" class="float-left card-button"
              >
              <nb-icon icon="car-outline"></nb-icon>
            </button></div>
          <div class="col-md-8 ">
            <a><b>{{'DASHBOARD.SERVICETYPES' | translate}}</b></a><br>
            <a>{{vehiclesCount}}</a><br>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card class="mb-2">
      <nb-card-body>
        <div class="row cursor-pointer d-flex justify-content-between flex-wrap" routerLink="../customer/view-customer">
          <div class="col-md-3"> <button type="submit" nbButton status="primary" class="float-left card-button"
              >
              <nb-icon icon="people-outline"></nb-icon>
            </button></div>
          <div class="col-md-8 ">
            <a><b>{{'DASHBOARD.CUSTOMER' | translate}}</b></a><br>
            <a>{{ridersCount}}</a><br>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card class="mb-2">
      <nb-card-body>
        <div class="row d-flex justify-content-between flex-wrap">
          <div class="col-md-3"> <button type="submit" nbButton status="primary"
              class="float-left Disabled card-button">
              <nb-icon icon="briefcase-outline"></nb-icon>
            </button></div>
          <div class="col-md-8 ">
            <a><b>{{'DASHBOARD.TOTALTRIPS' | translate}}</b></a><br>
            <a>{{totalTripsCount}}</a><br>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card class="mb-2">
      <nb-card-body>
        <div class="row d-flex justify-content-between flex-wrap">
          <div class="col-md-3"> <button type="submit" nbButton status="primary"
              class="float-left Disabled card-button">
              <nb-icon icon="credit-card-outline"></nb-icon>
            </button></div>
          <div class="col-md-8 ">
            <a><b>{{'DASHBOARD.TOTALTRIPPAYMENT' | translate}}</b></a><br>
            <a>{{totalTripPayment}}</a><br>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card class="mb-2">
      <nb-card-body>
        <div class="row d-flex justify-content-between flex-wrap">
          <div class="col-md-3"> <button type="submit" nbButton status="primary"
              class="float-left Disabled card-button">
              <nb-icon icon="credit-card-outline"></nb-icon>
            </button></div>
          <div class="col-md-8 ">
            <a><b>{{'DASHBOARD.TOTALTRIPCOMMISION' | translate}}</b></a><br>
            <a>{{totalTripCommission}}</a><br>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card class="mb-2">
      <nb-card-body>
        <div class="row d-flex justify-content-between flex-wrap">
          <div class="col-md-3"> <button type="submit" nbButton status="primary"
              class="float-left Disabled card-button">
              <nb-icon icon="credit-card-outline"></nb-icon>
            </button></div>
          <div class="col-md-8 ">
            <a><b>{{'DASHBOARD.TOTALPARTNEREARNED' | translate}}</b></a><br>
            <a>{{totalPartnerEarned}}</a><br>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <ngx-electricity></ngx-electricity>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar-chart-driver></ngx-solar-chart-driver>
    <ngx-solar-chart-rider></ngx-solar-chart-rider>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-recent-users></ngx-recent-users>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-lowrated-users></ngx-lowrated-users>
  </div>
</div> -->