<!-- <p>firebase-settings works!</p> -->

<nb-card>
    <nb-card-header>
        <div class="card-headers">
            <div class="card-headers">
                <button nbTooltip="{{'COMMON.GoBack' | translate}}" nbTooltipStatus="danger" nbTooltipPlacement="bottom"
                    (click)="goBackBtn()" nbButton ghost status="danger">
                    <nb-icon icon="arrow-back-outline"></nb-icon>
                </button>
                <div class="">{{'SETTINGS.FIREBASE_SETTINGS' | translate}}</div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="firebaseSettingsForm" autocomplete="off">
            <div class="form-group row">

            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="form-group row">
            <div [ngClass]="'offset-sm-0 col-sm-2'">
                <button fullWidth type="submit" nbButton status="success">
                    <!-- (click)="addOrEditDriver()" -->
                    <span>
                        <nb-icon icon="arrow-circle-up-outline"></nb-icon> {{'COMMON.UPDATEBTN' | translate}}
                    </span>
                </button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>